body {
  font-family: Monospace Number, Chinese Quote, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

#root .ant-layout {
  height: 100%;
}
